sentence-transformers==5.0.0
transformers==4.54.1
torch==2.8.0
faiss-cpu==1.11.0.post1
numpy==2.3.2
rank-bm25==0.2.2
groq==0.31.0
python-dotenv==1.1.1
llama-cloud==0.1.35
llama-cloud-services==0.6.52
huggingface-hub==0.34.4
tokenizers==0.21.4
safetensors==0.6.2
requests==2.32.4
httpx==0.28.1
tqdm==4.67.1